[2017-08-24 19:59] bricesanchez opened #1 "Cancancan documentation"
Hi!

Thanks for your awesome's work on this gem!

I've followed your [CanCanCan](https://github.com/exAspArk/graphql-guard#cancancan) documentation but it didn't work until i've added this configuration:

[code]

I use `graphql-guard (~> 1.0.0)` on rails 5.1

Did i missed something?

[2017-08-25 01:21] exAspArk commented on #1
Hey!

Where there any errors?

What did you exactly add to fix the problem: `use GraphQL::Guard.new` or `resolve_type`? What's the `graphql-ruby` version do you use?

Thanks

[2017-08-25 02:29] bricesanchez commented on #1
`use GraphQL::Guard.new`

and i use the latest version of `graphql-ruby` : 1.6.7

[2017-08-26 18:02] exAspArk commented on #1
@bricesanchez thanks for your reply!

In the `Usage` section, there are 2 categories:

* [Inline policies](https://github.com/exAspArk/graphql-guard#inline-policies)

The first sentence states "Add `GraphQL::Guard` to your schema":
[code]

* [Policy object](https://github.com/exAspArk/graphql-guard#policy-object)

"Pass this object to `GraphQL::Guard`":

[code]

So, in the `Integration` section I

[2017-08-26 18:02] #1 closed

[2017-09-15 14:13] davidfilip opened #2 "Undefined method guard for Resolvers Class"
I am trying to use guard inside the Mutation, using Resolvers class:

[code]

When I try to call this mutation I get error:

       guard ->(obj, args, ctx) {
         ..

     NoMethodError:
       undefined method `guard' for Resolvers::UpdateExample:Class

[2017-09-16 19:09] exAspArk commented on #2
Hey, @davidfilip!

Thank you so much for reporting the issue!

To be honest, I haven't used `GraphQL::Function` before. Mostly lambdas or resolve objects like:

[code]

For now, you probably have these 2 options:

* Use `guard` on the field

[code]

* Or define your authorization logic in the policy object:

[code]

I'll try to investigate whether it's possible to extend `GraphQL::Function` in ord

[2017-09-20 16:38] exAspArk commented on #2
@davidfilip unfortunately, `GraphQL:: Function` doesn't support extending the interface similarly to [Extending the DSL](http://graphql-ruby.org/schema/extending_the_dsl.html) without monkey patching the class.

So, I'd suggest defining `guard` with a policy object or on the Type level, e.g.:

[code]

[2017-09-20 16:38] #2 closed

[2017-09-21 15:35] bricesanchez opened #3 "Is guard proc works on Mutations?"
As i see in: https://github.com/exAspArk/graphql-guard/blob/master/lib/graphql/guard.rb#L6-L7

It looks like there is no mentions of mutations.

Is it an oversight or it needs a lot of work ?

[2017-09-21 16:54] exAspArk commented on #3
Hey, @bricesanchez!

Yes, it should work if you define mutation as `GraphQL::ObjectType`. For example:

[code]

Please let me know whether it works for you.

[2017-09-21 16:56] bricesanchez commented on #3
Hi @exAspArk!

I just come to the same result of you!

Thanks for your quick support!

[2017-09-21 16:56] #3 closed

[2017-09-21 17:56] bricesanchez commented on #3
My solution now stands in a GraphqlPolicy Class

[code]

[2017-09-21 19:10] exAspArk commented on #3
@bricesanchez awesome! We do the same with policy object :)

Thank you for sharing! 💛

[2017-10-05 14:01] stanishev opened #4 "allow introspection field types to skip authentication"
Hello,

Would you be open to making it configurable for users of graphql-guard to indicate that introspection fields should not be checked for authentication?

We've worked around this by using a policy_object, and checking for ```type.introspection?``` in the ```guard``` method of the policy_object itself, but it does feel like this should be offered out of the box.

If yes, I would even suggest

[2017-10-06 16:54] exAspArk commented on #4
Hey Vlad!

Thanks for opening the issue!

Do I understand correctly that you don't want to perform authentication to the fields like the following?

[code]

By default graphql-guard is [disabled](https://github.com/exAspArk/graphql-guard/blob/master/lib/graphql/guard.rb#L29). So, it basically performs an authentication only if you specified `guard` on your field:

[code]

Or your policy object wit

[2017-10-06 19:24] stanishev commented on #4
Hi exAspArk,

yes that's exactly what I was referring to, thank you for the thorough walkthrough.

We opted for a whitelist policy, using a policy object very similar to the one in your example.

The reason I thought it might make sense to bake an option into the the gem to allow someone to whitelist all introspection types in one go, is that following the sample code in the usage guidelines we st

[2017-10-11 20:45] exAspArk commented on #4
Hey, @stanishev!

Your point makes perfect sense 👍

However, seems like I was wrong, the following code doesn't affect introspection queries (at least in my case):

[code]

I'm still able to send an introspection query succesfully. Seems like `graphql-ruby` itself treats them differently:

[code]

Could you please describe what was the problem in your case? What do you have in the schema and which

[2017-10-12 21:09] dzucconi opened #5 "Guarding for the entire root of an object"
[code]

How would one go about guarding the entire `WidgetType` and every field under it? It seems to me that `TruncatedStringField` should not be returning, but that is in fact what happens. The errors return for every field that's queried, which also seems non-ideal.

[2017-10-12 21:43] exAspArk commented on #5
Hey, @dzucconi!

I wonder why `TruncatedStringField` is being returned? 🤔 When you specify `guard` on the type level (`WidgetType` in your case), it should be applied for every field in the type.

What is `TruncatedStringField`? Didn't know that `graphql` gem allows specifying instance objects for fields. What GraphQL type the `title` has?

[2017-10-12 22:03] dzucconi commented on #5
Ah, so it seems to no longer be referenced in the docs and this field implementation is likely just outdated.

Originally:

[code]

Replacing that with the substantially less gangly `GraphQL::Function` does the correct thing and respects the guard.

[code]

Some more food for thought here though:

Re: https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/field.rb

The documentation ther

[2017-10-13 21:02] dzucconi commented on #5
So, modified version of the initial question here: how does one go about actually returning `null` for the entire object you want to guard against?

[code]

Returns
[code]

Which seems problematic, instead of doing an existential check against `widget` you'd have to then do it against every single field you've queried on.

[2017-10-13 21:39] exAspArk commented on #5
Hey, @dzucconi!

Thanks a lot for showing the `GraphQL::Field`. I wonder why `guard` wasn't triggered out of the box 🤔 Probably, it's a bug with introspection in `graphql` gem or it requires some additional setup.

That's a good question. I usually just returned `nulls` on the `widget` which meant for the clients that the `widget` exists, but this specific user doesn't have an access to read it. S

[2017-10-13 21:53] dzucconi commented on #5
@exAspArk thanks for your work/thoughts.

Yeah, this is a good point. Perhaps it just comes down to personal preference then.

I'm currently doing authorization using a function to wrap the resolvers, but I do like the idea of having that information tied to the type, so that every time someone implements a field that returns the type you don't have to wrap the resolver again.

Thanks for bearing

[2017-10-13 21:53] #5 closed

[2017-10-19 04:49] stanishev commented on #4
hi @exAspArk

yes, having that snippet in the whitelist rules did not work for us either as written. For this to work we'd have to use fully qualified graphql-ruby types (some pseudo code below, won't compile):
[code]
but in any case, we moved away from enumerating these in the WHITELIST hash, and instead used the type.introspection? method as mentioned.

so the first line in the `self.guard` meth

[2017-10-23 14:52] exAspArk commented on #4
@stanishev thanks a lot for explaining!!

I was confused by the fact that `guard` wasn't triggered for `__Schema` but it works for `__Schema.queryType`.

I think that for now, we can mention your `type.introspection?` solution in the README file 👍  Don't want to make the gem complicated with multiple configuration options unless it's being used very often :)

If you want, feel free to open a PR to

[2017-10-24 15:06] stanishev commented on #4
👍
will do

[2017-10-30 18:58] #4 closed

[2017-11-26 12:13] johnunclesam opened #7 "type.introspection? || RULES.dig(type, field) doesn't working."
If I **don't** use this:

[code]

I can get introspection types without problems which is not good:

[code]

My **GraphQLPolicy**:

[code]

Why is introspection skipping authorization?

[2017-11-26 12:23] johnunclesam opened #8 "GraphQL::Guard::NotAuthorizedError: 500 instead of 401. How to rescue?"
This is NOT a bug and I immediately apologize for this issue but I'm newbie in Ruby, Rails and this amazing gem.

When I get this: `GraphQL::Guard::NotAuthorizedError`:

[code]

I would prefer something like REST API Unauthorized error 401.

How to do that?

I have to rescue that exception?

Something like:

`render json: ["Error 401. Unauthorized."], status: :unauthorized`

[2017-11-26 15:47] johnunclesam commented on #4
Can you release this in 1.0.1 please?

[2017-11-26 16:09] johnunclesam commented on #7
I'm trying also with:

`gem 'graphql-guard', github: 'exAspArk/graphql-guard', :branch => 'master'`

But if I try with this code:

[code]

I got this:

[code]

[2017-11-26 16:54] johnunclesam commented on #4
I tried with the master branch in my Gemfile but it still doesn't work: #7

[2017-11-27 17:09] exAspArk commented on #7
Hey @johnunclesam,

Thanks for opening the issue!

We've made a mistake in https://github.com/exAspArk/graphql-guard/pull/6, should be fixed.

Instead of:

[code]

It should be something like:

[code]

I.e. if:
* `type.introspection? == true`
The `guard` method will return `nil`, so no checks will be performed
https://github.com/exAspArk/graphql-guard/blob/cd1ca47f19d3388911f77360f5786846b2870666/

[2017-11-27 17:26] exAspArk commented on #8
Hey @johnunclesam!

That's a good question. Unfortunately, currently, it's not possible with the gem out of the box.

One of the reasons is because GraphQL doesn't care about the transport level (HTTP). That is why when you get a query error (like syntax or type), GraphQL by default will return 200 OK and the array of `errors` in the response itself. So, it's very common to always return 200. That

[2017-11-27 17:39] exAspArk commented on #8
@johnunclesam you can also follow the discussion https://github.com/rmosolgo/graphql-ruby/issues/1130 in case if somebody will reply :)

[2017-11-27 17:39] #8 closed

[2017-11-28 00:38] johnunclesam commented on #7
Ok. Thanks for you answer.

1) with `type.introspection? ? nil : RULES.dig(type, field)` I can still fetch the schema; maybe your misprint?

2) the if method works good.

[2017-11-28 01:22] johnunclesam commented on #8
Thanks for your answer.

Your link to that discussion got me to this: https://www.graph.cool/docs/faq/api-eep0ugh1wa/#how-does-error-handling-work-with-graphcool

and this:

So the question is: with `grahql-guard` I receive 500 on NotAuthorized like this:

[code]

is it correct?

Isn't better to response with 200 and error: "You are not authorized" as the graphql specs says?

[2017-11-28 02:15] johnunclesam commented on #7
Can it work also with:

[code]

??? Right?

[2017-11-28 11:53] semenovDL commented on #7
@johnunclesam, this would work for you:
[code]
or
[code]

[2017-11-28 15:11] exAspArk commented on #8
Yes, if you would like to return 200:

[code]

https://github.com/exAspArk/graphql-guard#error-handling

Which can become a default behavior in the future (don't want to introduce breaking changes for now).

[2017-11-28 15:16] exAspArk commented on #7
Yeah, I was referring to "skip authorization" from the README to fix 500. Feel free to contribute and fix it the example in the README if you'd like :)

@semenovDL @johnunclesam 👍
Any of these approaches may work

[2017-11-29 00:39] johnunclesam commented on #8
I vote for default behavior. Also from now. Thanks a lot.

[2017-11-29 00:57] johnunclesam opened #9 "Missing magic comment `# frozen_string_literal: true` and "Freeze mutable objects assigned to constants."."
I have this graphql_policy.rb:

[code]

Now using `rubocop` on it I got this:

![image](https://user-images.githubusercontent.com/21275217/33352266-69fe02c0-d4a8-11e7-86fb-6d212ba80170.png)

**What we can do?**

[2017-11-29 01:03] johnunclesam commented on #9
Maybe `RULES.freeze = {`?

[2017-11-29 01:30] johnunclesam commented on #7
https://github.com/exAspArk/graphql-guard/pull/10 done. You can merge, @exAspArk.

[2017-11-29 18:10] exAspArk commented on #9
@johnunclesam the issue doesn't seem to be related to the gem. You or your IDE is using https://github.com/bbatsov/rubocop which checks the syntax of your code.

* Add the `# frozen_string_literal: true` comment on top of your file to make the strings defined in the file immutable

* Add `RULES = { ... }.freeze` to make your hash object immutable

[2017-11-29 18:10] #9 closed

[2017-11-30 20:30] exAspArk commented on #7
Thanks! Closing the issue

[2017-11-30 20:30] #7 closed

[2017-12-28 13:57] micahlisonbee opened #11 "Authorization on Enum Values"
I'd like to be able to restrict certain enum input values to only super_admin users. Is there a way to do something like this? (This doesn't work obviously)

[code]

[2018-01-02 18:11] exAspArk commented on #11
@micahlisonbee hey, thanks for opening the issue!

Unfortunately, it's not possible because `graphql-ruby` gem [doesn't allow](https://github.com/rmosolgo/graphql-ruby/blob/58577377e9ac59f03b0fb62fc71a0ed58d878c17/lib/graphql/define/assign_enum_value.rb#L6) passing custom tags like `guard` for the `value` method. I might open an issue in https://github.com/rmosolgo/graphql-ruby.

If you want, you

[2018-01-02 18:44] #11 closed

[2018-01-02 20:25] micahlisonbee commented on #11
@exAspArk thanks for the thoughtful response. I think filtering is probably the to go for now as you've outlined in your `AdminFilter` example. I'll give it a go and brainstorm on other options.

Thanks again.

[2018-01-18 20:45] justgage opened #12 "Way to `nil` out the whole field rather than each of it's sub-fields if unauthorized to view it."
Right now we configure this library this way:
[code]
And we add gaurds on each of the types:
[code]
(We use `cancancan` as our ability library)

However this query...
[code]
Has a semi-odd behavior:
[code]
Rather than:
[code]

Is there an easy way to do that with this library?

we managed to resolve it by doing:

[code]
However we have to do that for every field we want to protect. 🤷‍♂️

[2018-01-23 03:21] exAspArk commented on #12
Hi, @justgage. Thanks for opening the issue!

Yeah, that's a common problem. Since you don't have a `location` object on the top level query before executing the `resolve` lambda, `guard` can't be performed. That's why, in my opinion, in most of the cases gems like CanCanCan or Pundit are used explicitly in the controller actions with RESTful APIs.

You can try to extract the authorization logic s

[2018-01-23 03:21] #12 closed

[2018-01-23 03:37] justgage commented on #12
I ended up keeping both the `guard` clauses to provide a blanket of safety and add inline resolve logic for API niceness. The next version of the library I think will support PORO's for what it's worth. Thanks for your response!

[2018-04-05 03:17] ducnguyenhuy opened #13 "Testing get an error with Rspec"
I have created a spec file as below:

[code]

When I try to run `rspec`, I got an error as followings:
[code]

Please let me know what I'm wrong?

[2018-04-06 15:45] exAspArk commented on #13
Hey @ducnguyenhuy,

Probably the example in the [README](https://github.com/exAspArk/graphql-guard#testing) is a bit confusing. You should create and pass `obj, args, ctx` variables explicitly. For example:

[code]

So, consider it as a unit-test where you explicitly pass input variables and get the output.

[2018-04-11 07:35] ducnguyenhuy commented on #13
@exAspArk It worked. Thanks. It will be better if you replace the above example with the example in README. Let me close this.

[2018-04-11 07:35] #13 closed

[2018-04-17 23:43] lsanwick opened #14 "Hiding unauthorized fields from introspection?"
Looking at the docs and other issues I don't think I've seen an exact question like mine, so here goes:

Is there a way to hide a field from introspection if the user is unauthorized to see it?  I'd like to have a schema that mixes public and internal fields, and hides the internal fields completely from external users of the application.  Is this possible?

[2018-04-23 21:57] SeanRoberts opened #15 "Usage with graphql-ruby 1.8 class syntax"
graphql-ruby 1.8 is introducing a new class-based syntax, however it seems to break compatibility with graphql-guard.

[code]

results in `undefined method 'guard' for GraphQL::Schema::Field`

Is there a potential workaround (aside from just not using the new syntax)?

[2018-05-08 20:58] exAspArk commented on #14
Hey @lsanwick!

Thanks for opening the issue. Yeah, the concept of hiding some of the GraphQL fields is usually called [schema-masking](https://medium.com/@__xuorig__/pretty-schema-masking-in-graphql-ruby-7566d212f2b4).

I was thinking about implementing it with the `graphql-guard` gem. The API, however, will probably be a little bit different. The primary difference is that during the introspecti

[2018-05-09 15:59] exAspArk commented on #14
I released the option to `mask` specific fields in version `1.1.0` https://github.com/exAspArk/graphql-guard#schema-masking :)

[2018-05-09 15:59] #14 closed

[2018-05-23 11:16] ssendev commented on #15
https://github.com/rmosolgo/graphql-ruby/issues/1324 mentions https://github.com/rmosolgo/graphql-ruby/blob/master/guides/type_definitions/extensions.md which describes how one could implement it

[2018-05-28 18:54] christophweegen commented on #15
Hey there,

I'm working with a policy object, but after changing my types to class-based syntax, the object doesn't work anymore too..

@exAspArk are you planning to adapt `graphql-guard` to the new class-based syntax?

Thanks for your efforts!

[2018-06-04 15:52] kymmt90 commented on #15
As described in [GraphQL - Extending the GraphQL-Ruby Type Definition System](http://graphql-ruby.org/type_definitions/extensions.html#customizing-fields), extending `GraphQL::Schema::Field` works when using inline policies:

[code]

[2018-06-10 05:49] kymmt90 commented on #15
I noticed that [`accepts_definition`](http://graphql-ruby.org/api-doc/1.8.2/GraphQL/Schema/Member/AcceptsDefinition) is also useful for inline guards:

[code]

ref: http://graphql-ruby.org/type_definitions/extensions.html#customization-compatibility

[2018-06-29 17:32] exAspArk commented on #15
@kymmt90 fixed it in https://github.com/exAspArk/graphql-guard/pull/17. I released the changes in version `1.2.0` :)

[2018-06-29 17:32] #15 closed

[2018-07-09 16:36] pooja335 opened #18 "Type-level guard taking higher priority than field-level"
Hi! I am trying to setup field-level and type-level permissioning, and I'm running to an issue where the type guard seems to have a higher priority than the field. Here is my code:

[code]

I'm not able to see any of the fields, including height, even though the guard returns true for height.

[2018-07-19 17:42] exAspArk commented on #18
Hi @pooja335,

Which version of `graphql` gem do you use? I can't reproduce it with `1.7.14` or `1.8.5`. Just in general here is how the code which detects the priority looks like (fields first, then type):

https://github.com/exAspArk/graphql-guard/blob/c8b379e182256ea4c2435272036ccaab4b57b4a9/lib/graphql/guard.rb#L49-L54

[2018-07-19 19:33] Yoshiji opened #19 "Can't test guard proc on Mutation root"
Related to the documentation on the testing of the guard proc: https://github.com/exAspArk/graphql-guard#testing

The documentation suggests that I should be able to do `QueryType.field_with_guard('posts')`, but when I try to do it with my own `Mutations::Root` object (which is a `GraphQL::ObjectType`), I get a no method error for `field_with_guard`:

[code]

It seems to be the same for all other

[2018-07-20 16:36] exAspArk commented on #19
Hey @Yoshiji,

Did you add `require "graphql/guard/testing"` line to your tests?

[2018-08-15 20:05] RealSilo commented on #15
@kymmt90 could you make the `accepts_definition` work? The first version is working for me:

[code]

[code]

but the `accepts_definition` is not :(.
[code]

[code]
It says `GraphQL::Field can't define 'authenticate'`

In case of authentication doesn't really matter but for authorization where I wanna pass in policies I would prefer the second option.

[2018-08-15 21:46] exAspArk commented on #15
@RealSilo not sure where the `authenticate` came from? On a field level, with `graphql-guard`, you should either use `guard` or `mask`.

[2018-08-15 21:51] exAspArk commented on #18
Closing the issue, feel free to reopen if you have more details.

[2018-08-15 21:51] #18 closed

[2018-08-16 06:43] RealSilo commented on #15
I am trying to implement a custom method (authenticate), but can't figure it out with the new class based syntax (I checked the docs). If you happen to have some example it would be great. Here is the old syntax: https://medium.com/impraise-design-engineering/generic-authorization-with-graphql-and-ruby-11f61f24c60b that I am trying to implement with the new class based syntax. In this example it's

[2018-11-23 21:52] kalzoo opened #23 "PORO Policy receiving incorrect (unexpected) type"
Hey, first of all, thanks for making this! Its easy integration with Pundit and its good documentation are pretty great.

Running into an issue here - I'm looking to provide authorization and `not_authorized` handling on the field level. So, I copy-pasted your example, swapped out constants ... and found that the procs in the `GraphqlPolicy` weren't being executed.

This may be a misunderstanding

[2018-11-30 18:48] exAspArk commented on #23
I was able to reproduce it with graphql-ruby gem version 1.8 and class-based definitions:

[code]

[code]

It is related to this issue https://github.com/rmosolgo/graphql-ruby/issues/1429. A workaround for now is to use `type.metadata[:type_class]`, for example:

[code]

I'm going to add a note to the readme and add tests to cover this case.

[2018-11-30 18:49] #23 closed

[2018-11-30 19:30] exAspArk commented on #23
Added tests and some notes to the README in https://github.com/exAspArk/graphql-guard/pull/24

[2018-12-03 04:58] kalzoo commented on #23
Wow, good eye for the underlying `graphql-ruby` issue! That's definitely it. That workaround is super easy and will make for a quick fix once he works out the kinks in the class-based schema. Thanks!

[2018-12-13 12:57] egonm12 opened #25 "Skip authorization on return fields"
I am having issues with mutations where I return a type that is guarded. Let's say for example I have a mutation where a user can reset the password with a token it got via a mail and I return a UserType.
[code]

The problem is that the UserType is guarded but within the mutation I want to skip the UserType guard policy. Is this possible?

[2018-12-17 17:05] exAspArk commented on #25
Hey @egonm12, that's a very interesting use case. GraphQL-Guard itself doesn't allow to skip some guards with a mutation. But just as an idea, you could use the `context` to understand whether the execution is after the mutation or not, for example:

[code]

Or simply let the user, which perfomed the mutation, be "signed in" after the mutation execution:

[code]

[2019-01-07 04:58] #25 closed

[2019-05-07 08:48] yourivdlans opened #27 "Pundit field whitelisting"
First of all, thanks for this great gem! I love the simplicity.

By default this gem follows a blacklisting strategy where you disable access to queries, fields, etc. I'd like it the other way around and whitelist everything that is allowed to be used.

So far I have an implementation that works (based on other discussions on this gem).

The problem with my implementation is that for each field I

[2019-05-15 14:04] gopeter opened #28 "Compatibility with graphql-ruby's new interpreter"
At first, thank you very much for the great gem, it saved us a lot of headaches! I just came across that the new (experimental) interpreter of `graphql-ruby` 1.9 does not work with `graphql-guard` (probably because it doesn't call lambdas/procs anymore?). Is there a plan to support the new interpreter in the future?

[2019-05-28 04:59] #27 closed

[2019-06-05 05:00] #28 closed

[2019-07-15 15:25] exAspArk commented on #28
Hey @gopeter,

Sorry for the delayed response. I personally don't plan to add support for the new interpreter while it is in the "Experimental" state to avoid any breaking changes in the gem.

![image](https://user-images.githubusercontent.com/577441/61227703-ce99e780-a6f2-11e9-851f-17d2dfd518a8.png)

However, PRs are always welcome :) So people could start testing the compatibility earlier at the

[2019-09-30 17:57] sshaw opened #30 "Changing NotAuthorizedError to Be A Subclass of GraphQL::ExecutionError"
Yes, breaking change but I was thinking with `NotAuthorizedError` as a superclass one gets proper error response formatting for free, as GraphQL Ruby will insert the exception's message into the `"errors"` property of the response.

And related, how do you feel about changing the default message of `NotAuthorizedError` from `Query.queryName` to `Not authorized to access: Query.queryName` (or simil

[2019-10-17 21:32] exAspArk commented on #30
Hey @sshaw,

Thank you for opening the issue!

These are 2 different behaviours: either fail the whole request with a Ruby exception (and return a 403 HTTP status, for example) or fail gracefully by returning a response with a GraphQL error. Although both of these use cases are being used, probably returning a GraphQL error is a more popular option (exactly what you suggested). For now, I'd prefer

[2019-10-18 19:59] dan003400 opened #31 "Outdated Documentation"
[code]

How would you include a guard on this field for the ShopType, we would like to limit the field user to only signed in users, but allow the other fields on a shop to be public without the need for authentication.

[2019-10-18 20:24] dan003400 commented on #31
[code]

Just for anyone else who is looking to add guarded fields on BaseObjects.

[2019-10-19 22:07] sshaw commented on #30
PR #32 opened.

This is the problem (if I recall): a 403 is not raised. The exception is not handled and an HTTP 500 is returned.

[2019-10-24 14:17] exAspArk commented on #30
Yeah, right. I usually use something like [`rescue_from`](https://api.rubyonrails.org/classes/ActiveSupport/Rescuable/ClassMethods.html) from Rails to catch a specific exception (e.g. `NotAuthorizedError`) and return 403.

I merged #32. Thank you for your contribution! 🙌

[2019-10-24 14:17] #30 closed

[2019-10-24 20:37] exAspArk commented on #31
Thank you @dan003400. Right, the existing documentation was written by using the previous `graphql` gem schema-definition DSL.

For those who would like to contribute and update the readme to use class-based schema definitions, here is an example from the gem specs:

https://github.com/exAspArk/graphql-guard/blob/b0e13cdce93a37a9d853849aa23e63674403f490/spec/fixtures/inline_schema.rb#L40-L64

[2019-11-14 04:56] #31 closed

[2019-11-15 02:46] Christianlauw123 opened #33 "Can't Using Mutation Type and Query Type Together"
I'd like to use mutation type and query type to be used in GraphQL Policy, but what i got, only "QueryType" that always got called even call mutation. Is there an idea why this happen?

Rails 5.2.3
Ruby 2.6.3
[code]

[2019-12-06 04:57] #33 closed

[2020-01-10 14:42] 23tux opened #34 "Pass field name to guard block"
I have my abilities defined in CanCanCan on a field level basis and I'd like to authorize the fields and objects inside a general guard block. I have a `BaseObject` from which every GraphQL object inherits:

[code]

But I'm missing the field name here, I'd like to do something like this:

[code]

Am I missing something? Defining the guard block at every field would lead to a lot of duplication and

[2020-01-10 14:46] 23tux commented on #34
Ahhhhh silly me... nevermind, I found it in the source code:

[code]

[2020-01-10 14:46] #34 closed

[2020-01-21 07:30] Postmodum37 opened #35 "graphql-ruby 1.10.0 update broke the gem"
[code]
https://github.com/rmosolgo/graphql-ruby/blob/master/CHANGELOG.md

[2020-01-22 18:57] liang3404814 commented on #35
Fix example for 1.10.0 compatibility: https://github.com/Shopify/graphql-batch/pull/116

[2020-01-22 19:54] exAspArk commented on #33
Hey @Christianlauw123,

Have you tried using "camelCase" field names in the policy object like `createUser`, `updateUser`? The `graphql` gem converts "underscore_names" to "camelCase", so I think that should work.

I might need to clarify that in the readme :smile_cat:

[2020-01-22 21:25] #35 closed

[2020-01-22 21:34] exAspArk commented on #35
@Postmodum37 thanks for opening the issue! @liang3404814 thanks for providing the example! :raised_hands:

I release a new version `1.3.1` with fixed compatibility.

[2020-01-30 09:06] tmikoss opened #37 "Does not seem to work with GraphQL::Execution::Interpreter"
`graphql` gem v1.10 adds `GraphQL::Execution::Interpreter` by default in newly generated schemas, and that somehow sidesteps `graphql-guard`. For example, with following configuration:

[code]

the query

[code]

is successful. After commenting out

[code]

block, the same query returns an error, as expected.

[2020-01-30 13:36] DanAndreasson commented on #37
I have the same issue

[2020-02-13 08:38] tmikoss commented on #37
Any suggestions where to start debugging this issue?

[2020-02-13 15:10] exAspArk commented on #37
Hey guys,

This issue is related to this one https://github.com/exAspArk/graphql-guard/issues/28#issuecomment-511448728. I won't be adding support for the new `Interpreter` as long as the `graphql` gem has this feature in the experimental status:

![image](https://user-images.githubusercontent.com/577441/74447754-dfa50580-4e47-11ea-9ea9-17861c942dfb.png)

I would like to avoid making unnecessary b

[2020-02-13 15:18] tmikoss commented on #37
Thanks for the update, makes sense. Had not noticed the `Interpreter` is still marked as experimental. Being included in `generate graphql:install` output made me sure it was the new default.

[2020-02-13 15:21] exAspArk commented on #37
@tmikoss yeah, it was marked as experimental for a while now. Please wake me up once the `Interpreter` is stable :smile_cat:

[2020-02-20 08:42] Christianlauw123 commented on #33
@exAspArk Yeah it should be camelCased as you comment before, but i realize it after that. Thanks for the comment and knowledge

[2020-03-03 09:08] imcvampire opened #38 "Use on resolver"
Hi,

Can you add `guard` to `Resolver`

Thanks for your open source contributions!

[2020-03-03 15:03] exAspArk commented on #38
Hi @imcvampire,

I'm sorry, what do you mean? Can you provide more information and examples?

P.S. You can find some code examples in the readme file

[2020-03-04 02:00] imcvampire commented on #38
Here is what I do for now

[code]

[code]

What I want to do

[code]

[code]

[2020-03-04 02:01] imcvampire commented on #38
And, I don't see any example about using with `Resolver`

[2020-03-15 15:21] imcvampire commented on #37
Hi @exAspArk,

The new version 1.9.0 brings new runtime as a stable feature. Can you consider to update package?

[2020-03-18 06:08] imcvampire commented on #38
Hi @exAspArk!

[2020-03-28 13:59] msroot commented on #37
I have the same issue

Using:
[code]

[code]

It works when  remove the

[code]

[2020-04-07 20:13] exAspArk commented on #37
I've finally made `graphql-guard` work with the latest `graphql` gem version and `Interpreter`. I'd appreciate if someone would like to give it a try https://github.com/exAspArk/graphql-guard/pull/39 😉

[code]

[2020-04-08 04:56] #38 closed

[2020-04-20 19:13] #37 closed

[2020-04-20 19:20] exAspArk commented on #37
Released a new version `2.0.0`. More information in the [Changelog](https://github.com/exAspArk/graphql-guard/blob/master/CHANGELOG.md#v200--2020-04-20).

Please let me know if there are any issues :)

[2020-04-22 19:12] xxx opened #40 "guard lambdas are receiving the schema type object, rather than the found instance"
Hi,

I just found this gem, and am looking to integrate it. I've run into an issue where my guard lambdas are receiving the graphql type object as the object argument, rather than the found instance that I expect (and the examples in the README also imply that this is what I should be receiving.) This behavior is showing up in all cases.

I'm currently using version 2.0.0, with the latest versions

[2020-04-22 20:00] xxx commented on #40
this may be graphql gem itself causing this, as even overriding `authorized?` is getting a nil for the object. Will close this to check into that thread instead.

[2020-04-22 20:00] #40 closed, assigned to nobody

[2020-04-27 22:42] quinnvaughn commented on #38
I'm having the same issue.

[2020-04-29 10:42] verenion opened #41 "Policy lambda receiving inconsistent value in test"
I am using a graphql policy like so:

[code]

This works great. If I use the graphql endpoint and request a user:

[code]

It works fine, and the output in the console is :

[code]

However, when I run the same query in rspec, the guard lambda is seemingly receiving the same object (the structure is the same, not the contents).

[code]

However, all my tests fail with:

[code]

I am using the late

[2020-04-29 11:03] verenion commented on #41
Forgot to add: Changing `record.member_id` to `record.object.member_id` seems to fix this issue, but it doesn't seem to match what the documentation  claims

[2020-05-06 15:04] bilby91 opened #42 "Add support for Mutation"
Is there any technical limitation for not supporting the DSL on mutations ?

Something like this:

[code]

[2020-05-13 04:55] ghost commented on #41
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs.

[2020-05-20 04:55] ghost commented on #42
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs.

[2020-05-20 04:55] #41 closed, assigned to nobody

[2020-05-20 13:56] bilby91 commented on #42
/keep-alive

[2020-06-03 19:25] ghost commented on #42
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs.

[2020-06-05 20:55] bilby91 commented on #42
/keep-alive

[2020-06-19 21:11] ghost commented on #42
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs.

[2020-06-26 21:12] #42 closed, assigned to nobody

[2020-07-27 10:53] 23tux opened #44 "Add support for arguments"
I'd like to mask certain arguments so they are hidden in the schema. I'm currently playing around with this

[code]

and then use it like this

[code]

Is this the right way to do it? And can someone explain why I need to define the mask on `GraphQL::Argument` AND `GraphQL::Schema::Argument`?

[2020-08-10 03:35] ghost commented on #44
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs.

[2020-08-17 03:35] #44 closed, assigned to nobody

[2020-08-17 05:24] 23tux commented on #44
I have the code above working in production, so it seems like the right way. But I'd still like to know, if this is the intended way to support arguments.

[2020-09-13 17:59] parse opened #45 "Add support for context to not_authorized callback when using Policy"
This is a question as well as a suggestion.

I'm combining graphql-ruby and graphql-guard with Doorkeeper+Sorcery to handle my authentication. In my `graphql_controller.rb` I have:
[code]

And my policy is:
[code]

So when a user is not authenticated, I expect the `Unauthenticated` error to be returned, but instead I get the `Not authorized to access #{type}.#{field}` defined in `graphl_controller

[2020-09-27 10:01] ghost commented on #45
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs.

[2020-09-27 17:28] parse commented on #45
Bump, would love some feedback on this. If it seems like a good idea I can give the implementation a shot.

[2020-10-09 14:18] tinynumbers commented on #38
@imcvampire @exAspArk any answer / solution to this? I have the same question.

[2020-10-14 22:18] sshaw opened #46 "Upgraded to 2.0 And Cannot `rescue_from GraphQL::Guard::NotAuthorizedError`"
Was on 1.2.2, graphql 1.8.10 and just upgraded to 2.0 and graphql 1.11.5 and see that:

[code]

Is not hit when said error is raised.

At first I thought it may be due to https://github.com/rmosolgo/graphql-ruby/pull/2140 but looking at the stacktrace I think it may be due to the addition `use GraphQL::Execution::Interpreter`:

[code]

[2020-10-20 15:23] joeyparis opened #47 "[Bug] Guarding or masking a field on an Object Type hides the entire object and not just the individual field"
**Versions**
graphql 1.11.2
graphql-guard 2.0.0

**Example Code**
[code]

**Expected Response**
[code]

**Actual Response**
[code]

I've also tried it using this syntax with the same results:
[code]

Let me know if I can provide any more information!

[2020-10-20 20:14] sshaw commented on #46
Had a chance look into this a bit more and see that one can now catch the error via a proc to instance of `GraphQL::Guard` as mentioned [here](https://github.com/exAspArk/graphql-guard/blob/fb42e72112c51cde2380c0a62d31fb3d63515d45/README.md#error-handling). Seems a counterintuitive but maybe there's a good reason?

At the least this should be added to docs on upgrading.

[2020-10-20 20:21] sshaw opened #48 "Upgraded to 2.0: Parameter Hash Keys in a `field`'s Inline `guard` Were camelCase And Are Now snake_case"
Was on 1.2.2, graphql 1.8.10 and just upgraded to 2.0 and graphql 1.11.5 and see that previously:

[code]

to make that work now one must change `someThang` to `some_thang`.

[2020-10-20 21:10] sshaw commented on #47
Hi, just upgraded to 2.0 and have found a couple of issues (see issues) so was curious about this one.

It would be good to include what you have in your `GraphQL::Schema` subclass.

In my case I have something like:

[code]

If a user is authorized and I add `guard: ->(*) { false }` to a field it results the `not_authorized` handler being called. Without the `not_authorized` handler it raises a `

[2020-10-20 21:13] sshaw commented on #47
GQL Ruby adds [this stuff](https://github.com/rmosolgo/graphql-ruby/blob/dbb9f38e364bf9b8785c50710bc301684cd5d916/lib/generators/graphql/templates/graphql_controller.erb#L26) (I remove it as it find it useless/inconsistent). Maybe this factors in to why you get the response you do?

[2020-10-20 21:15] joeyparis commented on #47
That's what I thought at first too, but I added this and it's what I currently have in my `GraphQL::Schema`:
[code]

Which I believe should only log an error message, but not nullify the entire object.

[2020-10-20 21:40] joeyparis commented on #47
@sshaw Just tried removing the `prepapre_variables` method from my `graphql_controller` but unfortunately, I'm experiencing the same problem

[2020-10-20 22:01] joeyparis commented on #47
Okay! I've figured something out and got it "working", but I feel there may still be improvements that can be made to the gem. It's all based around this section of the docs: https://github.com/exAspArk/graphql-guard#error-handling.

[code]
This behaves as I would expect, it raises an error and the query fails.

[code]
I would expect this to return either 'null' or the error for the individual fie

[2020-10-21 03:55] sshaw commented on #46
Related: https://github.com/rmosolgo/graphql-ruby/issues/3198

In short:
[code]
breaks `rescue_from`

[2020-10-26 18:09] sshaw commented on #47
Thanks for the info. I also see with the latest version of the Ruby GraphQL library one cannot return a `String` from `rescue_from` any more.

[2020-12-11 14:24] MarinaMurashev commented on #45
I am in need of this feature as well. I need to be able to tell the difference between a user trying to access a field they're not authorized to access vs the user is not logged in at all.

[2020-12-27 20:07] alexanderdavide opened #49 "Arguments using loads don't get loaded in mutations unless in a subtype"
## Apparent bug
It seems like arguments of mutations that use `loads` to automatically load the types from the database don't get loaded unless they are nested in another type. With queries I have not experienced any issues.

## Environment
rails: `6.0.3`
graphql_ruby: `1.11.6`
graphql_guard: `2.0`

## Description

This query works fine. The facility entity is present in `args[facility]` in the Gu

[2021-05-31 17:15] imcvampire opened #50 "Is this project still under development?"

[2021-11-10 22:13] chrise86 opened #51 "Using guard in base/parent class always takes priority"
If using `guard ->(obj, args, ctx) { some_method }` inside a base type class, and then inheriting from that class you cannot specify overrides per sub class or even per field. It will always use the guard from the parent class.

[code]

[2021-11-16 09:41] saharaying opened #52 "not_authorized calls with Interface type instead of the real owner"
When handling the errors on field which is defined in an Interface, `field.owner` returns the interface module, instead of the real owner (the subclass of GraphQL::Schema::Object). Probably it should be changed to `trace_data[:owner]`?

[code]

[2021-12-09 09:14] asgeo1 commented on #34
Thanks, this was useful. I've found on latest versions of graphql-ruby I needed to use `ctx[:current_field].original_name`. Here's what I did with Pundit

[code]

[2021-12-15 12:03] IngusSkaistkalns opened #53 "Deprecation warnings with graphql-1.13.1"
Hello,

Deprecation warnings starting graphql-1.13.1:

[code]

From changelog
[code]

Also I noticed, that inline guards return  Array wrapped guard Proc and not just proc right away. Is this intended outcome in graphql or some undesired behaviour - I don't know, should investigate more.

[2021-12-17 03:49] asgeo1 commented on #44
Sad that this got auto-closed. I was looking to do this myself, would be good to get the [PR](https://github.com/exAspArk/graphql-guard/pull/43) merged

[2022-01-11 21:06] pierry01 commented on #53
:+1: up

[2022-01-14 04:15] asgeo1 commented on #53
Hmm, I'm getting this error now on the latest `graphql-ruby` (1.13.4)

    undefined method `graphql_definition' for #<GraphQL::Schema::TypeMembership
    Did you mean?  graphql_name
    /bundle/ruby/3.0.0/bundler/gems/graphql-guard-ca368a8dbdac/lib/graphql/guard.rb:17:in `block in <class:Guard>'

Not quite sure what's happening as I didn't think they removed the `.graphql_definition` yet? [In the

[2022-02-08 15:29] 23tux commented on #53
Is there any news on this? I get the same warnings when updating to graphql-ruby 1.13.8

[2022-02-23 18:06] 23tux commented on #53
I just tried to find a fix for this, but I'm not sure how to get the `metadata` from `schema_member` without using `graphql_definition` in those lines:

https://github.com/exAspArk/graphql-guard/blob/fb42e72112c51cde2380c0a62d31fb3d63515d45/lib/graphql/guard.rb#L16-L19

In sum there are 3 places where `#graphql_definition` is still used.

As mentioned here https://github.com/rmosolgo/graphql-ruby/

[2022-02-23 18:28] 23tux commented on #53
I just discovered, that it's not only a deprecation warning, but an error:

[code]

[2022-02-25 16:41] rmosolgo commented on #53
`metadata` is part of the legacy type definition system, you're right that there's no way to access it apart from `.graphql_definition`. Instead of `.metadata`, you should store custom values in instance variables on your definitions. For example:

[code]

Hope that helps!

[2022-03-02 13:28] 23tux commented on #53
@rmosolgo thanks for the quick answer!

It seems, that the changes require more work than I first anticipated to get masking to work. So I wondered, if you can give some advice how to implement it?

The current implementation is this:
https://github.com/exAspArk/graphql-guard/blob/fb42e72112c51cde2380c0a62d31fb3d63515d45/lib/graphql/guard.rb#L57-L63

I see some room for improvement here:
- I don't

[2022-03-02 15:49] rmosolgo commented on #53
Yes, `def self.visible?(ctx)` is the way. Here are some docs on that: https://graphql-ruby.org/authorization/visibility.html

Besides swapping implementations at runtime, you can also _hide_ implementations at runtime -- and if a type, field, argument, etc is hidden, then it doesn't exist for the current query.

Yes, it was a way to bridge the gap from legacy definition to class-based definition,

[2022-03-14 16:05] grxy commented on #53
Hello @exAspArk, are there any plans for this library to support GraphQL Ruby 1.13 or 2.0? Are you open to PRs to address this issue?

[2022-03-28 01:12] mcelicalderon commented on #53
@rmosolgo thank you, this helps a lot. We are going to need something similar in https://github.com/graphql-devise/graphql_devise and I think it might help for this gem too.

It looks like our only way to implement this, will be to provide a custom field class in the gem, and that one should be able to handle what you described in https://github.com/exAspArk/graphql-guard/issues/53#issuecomment-10

[2022-03-28 12:08] rmosolgo commented on #53
Yeah, there's not a way to install a field class for every base type in _one_ line of code -- the base Object, Interface, and Mutation classes all need that configuration. I definitely agree that _would_ be nice, but I haven't been able to figure out _how_ it'd work...

[2022-03-28 15:57] mcelicalderon commented on #53
That's fine, thank you!

[2022-05-25 22:49] nick-benoit14 commented on #51
Yeah i'm also confused by this. It would be nice to be able to have a guard like
[code]

In my base type so that I can verify everything has a guard.